body{
    margin: 0;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:black;
    background-image: url("image/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer{
    padding: 20px;
}

header{
    background-color:khaki;
    text-align: center;
}

footer{
    margin-top: auto;
    background-color:darkslategray;
    text-align: center;
}

a{
    color: white;
}

.main{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

input,
label,
button{
    font-size: 25px;
}

input[type="text"]{
    background: transparent;
    border-radius: 3px;

}

button{
    background-color:coral;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}



